.header {
  background-color: #d3f0e4; /* 더 연한 파스텔 그린 색상 */
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 20px auto; /* 화면 가로 끝과 여백을 주기 위해 설정 */
  box-sizing: border-box; /* padding과 border를 max-width에 포함 */
}

.header-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap; /* 기본적으로 텍스트가 한 줄로 유지되도록 설정 */
}
.header-left .greeting-nickname {
  margin-right: 8px; /* 원하는 공백 크기로 설정 */
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-center {
  flex: 2;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-weight: bold; /* 글자를 굵게 설정 */
  color: #4a6357; /* 더 연한 다크 그린 톤의 색상 */
}

.header-title {
  cursor: pointer; /* MyDiary 글자에만 클릭 가능한 포인터 스타일 적용 */
  font-size: 28px; /* MyDiary 텍스트 크기를 키움 */
}

.header span {
  font-weight: bold; /* 글자를 굵게 설정 */
  color: #4a6357; /* 더 연한 다크 그린 톤의 색상 */
  overflow: hidden;
  text-overflow: ellipsis; /* 공간이 부족할 때 생략 표시(...) 적용 */
}

.header button {
  background: none;
  border: none;
  color: #4a6357; /* 더 연한 다크 그린 톤의 색상 */
  font-size: 18px; /* 글자를 조금 더 키움 */
  font-weight: bold; /* 글자를 굵게 설정 */
  cursor: pointer;
  padding: 0;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

.header-right button,
.header-right .KakaoLoginButton {
  margin-left: 0; /* 오른쪽 여백 없애기 */
}

/* 미디어 쿼리: 태블릿 환경 */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 12px 15px; /* 패딩 줄이기 */
  }

  .header-title {
    font-size: 24px; /* 제목 크기 줄이기 */
  }

  .header button,
  .header-left span {
    font-size: 16px; /* 버튼과 텍스트 크기 줄이기 */
  }
}

/* 미디어 쿼리: 작은 화면 (모바일 환경) */
@media (max-width: 767px) {
  /* 767px 이하에서만 적용 */
  .header {
    padding: 10px 10px; /* 모바일에서는 패딩 더 줄이기 */
  }

  .header-title {
    font-size: 20px; /* 제목 크기 줄이기 */
  }

  .header button,
  .header-left span {
    font-size: 14px; /* 버튼과 텍스트 크기 더 줄이기 */
  }

  .header-left {
    flex-direction: column; /* 텍스트를 세로로 배치 */
    white-space: normal; /* 모바일 환경에서 줄바꿈 허용 */
  }

  .header-left span {
    text-align: left; /* 줄바꿈될 경우 왼쪽 정렬 */
  }
}
