.calendar {
  padding-top: 20px;
  height: 70vh; // 전체 화면 높이에서 약간의 여백을 제외한 높이 설정

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    button {
      background-color: #a8dfc1;
      color: #2c3e50;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: #8ecfad;
      }
    }

    h2 {
      margin: 0;
      color: #2c3e50;
    }
  }

  &-days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    span {
      flex: 1;
      text-align: center;
      font-weight: bold;
      color: #2c3e50;
      pointer-events: none;
      margin: 0; // 날짜 간의 간격 제거
    }

    .sunday {
      color: #e57373; // 일요일 색상
    }

    .saturday {
      color: #64b5f6; // 토요일 색상
    }
  }

  hr {
    border: none;
    border-top: 1px solid #dcdcdc;
    margin-bottom: 5px;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); // 7개의 칸으로 나눔
    grid-gap: 1px; // 겹치는 border 제거를 위한 간격 설정
    background-color: #dcdcdc; // 간격의 색상 지정
    height: calc(100% - 60px); // 헤더와 요일을 제외한 영역
    width: 100%; // 화면 너비에 맞게 설정
    grid-auto-rows: 1fr; // 각 블록의 높이를 자동으로 조정

    &__body {
      display: contents;
    }

    &__day {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      border: none; // 기존의 border를 제거
      position: relative;
      box-sizing: border-box; // 요소 크기 변동 방지
      overflow: hidden; // 콘텐츠가 넘칠 경우 숨김
      height: 100%; // 블록의 높이를 고정

      .date-number {
        font-weight: bold;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 0.9rem; // 날짜의 글자 크기 조정
      }

      .todo-list {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden; // 콘텐츠가 넘칠 경우 숨김
        padding: 0; // 패딩 제거
        margin-top: 20px;
        margin-left: 5px;
        gap: 1px;
        .todo-item {
          font-size: 0.7rem; // 기본 Todo 크기
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 2px 0; // 간격 최소화
          font-weight: bolder;
          background-color: #e0f7fa; // 배경색 추가
          padding: 4px;
          // margin-bottom: 2px;
          margin-right: 4px;
          border-radius: 4px;

          &.completed {
            text-decoration: line-through;
            text-decoration-thickness: 2px;
            color: #414040;
            // 완료된 항목의 텍스트 색상 변경
            background-color: #f3f3f3; // 완료된 항목의 배경색
          }
        }
        .more-todos {
          font-size: 12px;
        }
      }

      &.calendar-date:hover {
        background-color: #a8dfc1;
        color: #2c3e50;
      }

      &.sunday {
        color: #e57373; // 일요일 색상
      }

      &.saturday {
        color: #64b5f6; // 토요일 색상
      }

      &.other-month {
        color: #cccccc;
        background-color: #f9f9f9;
        pointer-events: none;
      }
    }

    .calendar-empty {
      background-color: transparent;
      pointer-events: none;
      border: none;
    }
  }

  @media (max-width: 768px) {
    padding: 10px;
    height: 75vh; // 모바일에서 화면 크기에 맞춤

    &-header {
      h2 {
        font-size: 1.2rem; // 헤더의 폰트 크기 조정
      }
    }

    &-days {
      span {
        font-size: 0.6rem; // 모바일에서 요일의 글자 크기 축소
      }
    }

    &-grid {
      grid-template-columns: repeat(7, 1fr); // 7개의 열
      grid-auto-rows: minmax(80px, 1fr); // 각 날짜 블록의 최소 높이 설정

      &__day {
        .date-number {
          font-size: 0.6rem; // 모바일에서 날짜의 글자 크기 조정
          font-weight: bold;
        }

        .todo-list {
          margin-top: 15px;

          .todo-item {
            font-size: 0.5rem; // 모바일에서 Todo 크기 축소
            padding: 2px;
            &.completed {
              text-decoration-thickness: 1px;
            }
          }
          .more-todos {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
